main {
    display: grid;
    grid-template-rows: repeat(8, min-content);
    justify-items: center;
}

section {
    // background-color: rgb(177, 239, 234);
    // border: 1px black solid;
    margin: 1.2rem;
    padding: 10px;
}


.item-holder {
    display: grid;
    grid-template-columns: 1fr min-content;
    gap: 5rem;
    align-items: center;
    justify-items: center;

    p {
        width: 400px;
        text-align: justify;
    }
    img {
        width: 50px;
        border-radius: 50%;
    }
}
  
@media only screen and (max-width: 1024px) {
    item-holder {
        grid-template-columns: 1fr;
    }
}