section {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 5rem;
}

.container-main{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
  }
    
  .container-inner {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    grid-gap: 10px;
    align-content: center;
    justify-content: center;

  }
  
  .item {
    grid-column: span 6;
  }
  .item-foto {
    grid-column: 2 / 3;
  }
  .item-about {
    grid-column: 3 / 6;
  }