.linija {
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;

  margin-top: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;

  h2 {  
    font-weight: 300;
    text-transform:uppercase;
    letter-spacing: 3px;
    color: var(--text-primary);

    display: grid;
    grid-template-columns: 1.5rem 1fr 1.5rem;
    grid-template-rows: 26px 0;
    column-gap: 20px;

    &:after, &:before {
      content: " ";
      display: block;
      border-bottom: 2px solid #ccc;
      background-color:#f8f8f8;
    }
  }

  span {
    font-family: var(--heading-font);
    display: block;
    font-size: 2em;
    // -webkit-transform-origin: 25px 10px;
    // -webkit-transform: rotate(-5deg);
    line-height: 0.1;
    color: var(--color-primary-dark);
  }
}

@media only screen and (max-width: 600px) {
  .linija {
    h2 {
      font-size: 1rem;
      grid-template-rows: 11px 0;
      grid-gap: 11px;
    }
  }
}