@import '../../assets/styles/mixins';

.Galerija
{
    display: grid;
    grid-template-rows: 1fr;

    @include breakpoint(large) {
        grid-template-columns: min-content 1fr;
        margin: 0 auto;
    }
    // margin: 2% 10% 2%;
    // margin-bottom: 2%;
    // margin-right: 5%;

    .gallery {
        // display: grid;
        // grid-template-columns: repeat(3, 1fr);
        // row-gap: 10px;
        // margin: 2.5rem 4rem;
        // place-items: center;
        // overflow: hidden;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 8px;
        // align-items: stretch;
        max-width: 2000px;
        width: 100%;
        margin-bottom: 2rem;
    }

    .gallery img {
        position: relative;
        border: 1px solid #ccc;
        box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
        width: 100%;

        transition: opacity 0.5s ease-in;
        cursor: pointer;

        &:hover {
            &:before, &:after {
            opacity: 1;
            transition: .3s opacity ease;
            }
        }
    }

    .gallery img.loaded {
        opacity: 1;
    }

    .gallery img:hover {
        opacity: 0.8;

    }
    
    
        /* 3x4 grid on desktop */
        @media (max-width: 2560px) {
        .gallery {
            grid-template-columns: repeat(3, 1fr);
        }
        }
    
        /* 2x6 grid on mobile */
        @media (max-width: 667px) {
        .gallery {
            grid-template-columns: repeat(2, 1fr);
            margin: 2rem 2rem;
            grid-gap: 3px;

        }
        }
    
    .submenu {
        display: flex;
        ;flex-direction: column;
        flex-wrap: nowrap;
        -webkit-overflow-scrolling: touch; 
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none; 
        scroll-behavior: smooth;
        justify-content: space-around;
        align-items: center;
        transition: border-bottom 0.3s ease-in;
        
    }

    .submenu::-webkit-scrollbar {
        display: none;
    }

    .submenu-wrapper {
        position: relative;
        margin: 2rem 4rem ;
    }


    .submenu button {
        display: flex;
        // color: #fff;
        border: none;
        background-color: transparent;
        font-size: 24px;
        cursor: pointer;
        padding-bottom: 2px;
        margin-bottom: 2rem;
        text-align: center; 
        min-width: fit-content;
        // font-family: var(--font-base);
    }


    .submenu button.active {
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid var(--color-accent);
    transition: border-color 0.5s ease;
    z-index: 1000;
    }

    .submenu button:hover {
    transform: scale(1.05);
    }
    
    @media  screen and (max-width: 1200px) {
        .submenu button {
            margin-right: 3rem;
        }
    }
    @media  screen and (max-width: 900px) {
        .submenu {
            justify-content: flex-start;
        }
        .submenu button {
            margin-right: 2rem;
        }
    }
}