nav {
  display: grid;
  grid-template-columns: min-content auto;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  background-color: white;
  z-index: 1000;
  position: sticky;
  top: 0;

  &::after {
    content: "";
    display: block;
    clear: both;
  }

  ul, li {
    margin: 0;
    padding: 0;
  }
  ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  li {
    display: inline-block;
    padding: 10px;
    position: relative;

    .dropdown {
      display: none;
      position: absolute;
      left: -1rem;
      top: 100%;
      background-color: white;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
      border-radius: 5px;

      ul {
        display: block;
        margin: 5px;

        li {
          width: 150px;
        }
      }
    }
  }
  a {
    position: relative;
    color: var(--text-secondary);
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s all ease-in-out;
    padding: 10px 0;
    margin-left: 15px;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.5px;

    &:hover {
      // opacity: .7;
      color: var(--color-accent);

      &:after {
        width: 100%;
      }
    }
    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 0%;
      content: '.';
      color: transparent;
      background: var(--color-accent);
      height: 1px;
    }
  }

  .logo {
    font-size: 18px;
  }
}

#nav-toggle, .burger-menu {
  display: none;
}

nav ul li:hover .dropdown{
  display: block;
  position: absolute;
}
 
nav ul li:hover .dropdown ul{
  display: flex;
  flex-direction: column;
}


@media only screen and (max-width: 1024px) {
  nav {
    justify-content: center;
  }
  nav ul {
    grid-column: span 2;
  }
  .burger-menu {
    display: inline-block;
  }
  .menu{
    display: none;
  }
  #nav-toggle:checked:checked ~ .menu {
    display: inline-block;
  }

  #nav-toggle:checked:checked + .burger-menu .burger-icon {
    background-color: transparent;
  }
  #nav-toggle:checked:checked + .burger-menu .burger-icon::before {
    top: 0;
    transform: rotate(45deg);
  }
  #nav-toggle:checked:checked + .burger-menu .burger-icon::after {
    top: 0;
    transform: rotate(-45deg);
  } 
}

// /* ICON */
.burger-icon {
  position: relative;
  margin-top: 25px;
  &,
  &::before,
  &::after {
    width: 1rem;
    height: 2px;
    background-color: #000;
    display: inline-block;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s;
  }

  &::before { top: -5px;}
  &::after { top: 5px;}

  &:hover::before {
    top: -7px;
  }

  &:hover::after {
    top: 7px;
  }
}
