nav {
  display: grid;
  grid-template-columns: min-content auto;
  justify-content: space-evenly;
  padding: 1rem;

  ul, li {
    margin: 0;
    padding: 0;
  }
  ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  li {
    display: inline-block;
    padding: 10px;
  }
  Link, a, .menu {
    // color: #000;
    text-decoration: none;
    text-transform: uppercase;
    // font-family: 'Oswald', sans-serif;
    transition: .3s all ease-in-out;
    padding: 10px 0;
    margin-left: 15px;
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 0.5px;
  }
  a:hover {
    opacity: .7;
  }

  .logo {
    font-size: 18px;
  }
}

#nav-toggle, .burger-menu {
  display: none;
}



@media only screen and (max-width: 1024px) {
  nav {
    justify-content: center;
  }
  nav ul {
    grid-column: span 2;
  }
  .burger-menu {
    display: inline-block;
  }
  .menu{
    display: none;
  }
  #nav-toggle:checked:checked ~ .menu {
    display: inline-block;
  }

  #nav-toggle:checked:checked + .burger-menu .burger-icon {
    background-color: transparent;
  }
  #nav-toggle:checked:checked + .burger-menu .burger-icon::before {
    top: 0;
    transform: rotate(45deg);
  }
  #nav-toggle:checked:checked + .burger-menu .burger-icon::after {
    top: 0;
    transform: rotate(-45deg);
  } 
}

// /* ICON */
.burger-icon {
  position: relative;
  margin-top: 25px;
  &,
  &::before,
  &::after {
    width: 1rem;
    height: 2px;
    background-color: #000;
    display: inline-block;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s;
  }

  &::before { top: -5px;}
  &::after { top: 5px;}

  &:hover::before {
    top: -7px;
  }

  &:hover::after {
    top: 7px;
  }
}
