@import '../../assets/styles/mixins.scss';

.intro {
    position: relative;
    padding: 0;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    width: 100vw;
    background-color:#333;

    h1 {
        position: absolute;
        top: 50%;
        left: 35%;
        color: var(--color-primary-light);
        font-size: 1.2rem;
        height: 70vb;

        opacity: 0;
        -webkit-animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
           -moz-animation: reveal 1s ease-in 1 normal forwards;
             -o-animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
                animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;

        @include breakpoint(medium) {
            font-size: 2rem;
            height: 30vb;
        }
    }

}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.animate {
    -webkit-animation-delay: 1s;
       -moz-animation-delay: 1s;
         -o-animation-delay: 1s;
            animation-delay: 1s;
}

@-webkit-keyframes reveal {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%);
            -moz-transform: translateY(100%);
            -o-transform: translateY(100%);
                transform: translateY(100%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
         -moz-transform: translateY(0);
           -o-transform: translateY(0);
              transform: translateY(0);
    }
}
  
@-moz-keyframes reveal {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%);
            -moz-transform: translateY(100%);
            -o-transform: translateY(100%);
                transform: translateY(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -o-transform: translateY(0);
                transform: translateY(0);
    }
}
  
@-o-keyframes reveal {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%);
            -moz-transform: translateY(100%);
            -o-transform: translateY(100%);
                transform: translateY(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -o-transform: translateY(0);
                transform: translateY(0);
    }
}
  
@keyframes reveal {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%);
            -moz-transform: translateY(100%);
            -o-transform: translateY(100%);
                transform: translateY(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -o-transform: translateY(0);
                transform: translateY(0);
    }
}
