@import '../../assets/styles/mixins';

.section-three-main-div {
    display: grid;
    grid-template-rows: 1fr 50px;
    justify-items: center;
    row-gap: 1rem;
    font-weight: 200;

    @include breakpoint(medium) {
      max-width: 60%;
    }

  }

  .quotes-img-right span:before {
    content: '>';
  }

  .quotes-img-left span:before {
    content: '<';
  }
  
  .section-three-sub-div-one {
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    justify-items: center;
    align-items: center;
  }
  
  .main-quotes-div {
    transition: 1s;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    border-radius: 75px 75px 0 0;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color: #ffffff;
    padding: 1.5rem;
  }
 
  .quotes-img {
    background-color: #fff;
    box-shadow: 0 0 10px 10px #ffffff, 5px 0 30px 0px #e1e1e1;
    -moz-box-shadow: 0 0 10px 10px #ffffff, 5px 0 30px 0px #e1e1e1;
    -webkit-box-shadow: 0 0 10px 10px #ffffff, 5px 0 30px 0px #e1e1e1;
    -o-box-shadow: 0 0 10px 10px #ffffff, 5px 0 30px 0px #e1e1e1;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    cursor: pointer;
  }
  
  /* ------------------ */
  .para {
    font-family: var(--heading-font);
    text-shadow: 0 0 1px #939393;
    text-align: justify;
  }
  
  .subText {
    margin-top: 1rem;
    font-size: 15px;
    text-align: right;
    color: var(--color-primary-dark);
    text-transform: uppercase;
    font-weight: 600;


    &:before {
        content: '– ';
    }
  }
  
  .myDot {
    display: inline-block;
    cursor: pointer;
    border: none;
    padding: 5.5px;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 5px;
    background: rgb(130, 126, 119);
  }
  
  .myDot--active {
    background: var(--color-primary-dark);
  }
  
  .not-visible {
    opacity: 0;
    transition: 1s;
  }
  
  @media (max-width: 767px) {
  
    .section-three-sub-div-one {
      grid-template-columns: 15% 1fr 15%;
    }
  }