h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1rem;
}

.green-button {
    background: var(--color-accent);
    border: 1px solid var(--color-accent);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFF;
    cursor: pointer;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: uppercase;

    margin-top: 25px;
    margin-bottom: 25px;

    &:hover,
    &:active {
        background-color: initial;
        background-position: 0 0;
        color: var(--color-accent);
    }

    &:active {
        opacity: .5;
    }
}

.action-button{
    align-items: center;
    background-color: #fff;
    border: 2px solid var(--color-primary-dark);
    box-sizing: border-box;
    color: var(--text-secondary);
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    height: 48px;
    justify-content: center;
    letter-spacing: 2px;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  
    &:hover {
      border-color: var(--color-accent);
      color: var(--color-accent);
      fill: var(--color-accent);
    }
    
    &:active {
      border-color: var(--color-accent);
      color: var(--color-accent);
      fill: var(--color-accent);
    }
  }