@import '../../assets//styles/mixins.scss';

.footer {
    // display: grid;
    // grid-template-rows: 1fr;
    // grid-template-columns: 30% 30%;;
    // grid-gap: 0 3.8em;
    padding: 2.5rem;
    // justify-content: end;
    // overflow: hidden;
    background-color: var(--color-primary-light);
    color: var(--text-primary);

    @include breakpoint(large) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
            "logo links social"
            "contacts links social";
        align-items: center;
    }

    a {
        display: inline-block;
        color: var(--text-secondary);
        text-decoration: none;
    }
    span {
        display: inline-block;
    }

    &__logo {
        display: inline-block;
        margin-bottom: 1.875rem;

        @include breakpoint(large) {
            grid-area: logo;
        }

    }
    &__social {
        margin-bottom: 1.875rem;

        a {
            transition: color 50ms ease-in-out;
        }

        a:hover .fa-icon {
            color: var(--color-accent);
        }
        
        @include breakpoint(large) {
            grid-area: social;
        }

        span {
            margin-right: 1rem;
        }
        a:not(:last-child) {
            margin-right: 1rem;
        }
    }
    &__links {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.875rem;

        @include breakpoint(large) {
            grid-area: links;
        }

        a {
            line-height: 1.5;

        }
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.875rem;

        @include breakpoint(large) {
            grid-area: contacts;
        }

        a, span {
            line-height: 1.5;
        }
    }
}
