@import '../../assets/styles/mixins';

.footer {
    // display: grid;
    // grid-template-rows: 1fr;
    // grid-template-columns: 30% 30%;;
    // grid-gap: 0 3.8em;
    padding: 1.5rem;
    // justify-content: end;
    // overflow: hidden;
    background-color: var(--color-primary-light);
    color: var(--text-primary);
    font-weight: 200;
    text-align: center;

    @include breakpoint(large) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
            "logo links contacts"
            ". links social";
            // ". copyright .";
    }
    span {
        display: inline-block;
    }

    &__logo {
        display: inline-block;
        margin-bottom: 1rem;

        @include breakpoint(large) {
            grid-area: logo;
            align-self: center;
            justify-self: end;
        }

    }
    &__social {
        // margin-bottom: 1.875rem;

        a {
            transition: color 50ms ease-in-out;
        }
        
        @include breakpoint(large) {
            grid-area: social;
            text-align: left;
        }

        span {
            margin-right: 1rem;
        }
        a:not(:last-child) {
            margin-right: 1rem;
        }
    }
    &__links {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.875rem;

        @include breakpoint(large) {
            grid-area: links;
            align-items: center;
        }
        a {
            line-height: 1.5;

        }
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.875rem;

        @include breakpoint(large) {
            grid-area: contacts;
            text-align: left;
        }

        a, span {
            line-height: 1.5;
        }
    }

    // &__copyright {
    //     grid-area: copyright;
    //     text-align: center;
    //     line-height: 0.6;
    //     font-size: 0.7rem;
    //     text-transform: uppercase;
    // }
}

a {
    display: inline-block;
    color: var(--text-secondary);
    text-decoration: none;

    &:hover {
        color: var(--color-accent);
    }
}
.copyright {
    text-align: center;
    line-height: 0.6;
    font-size: 0.7rem;
    text-transform: uppercase;
    margin-top: 2rem;
}
