@import '../../assets/styles/mixins';

.slider {
    height: 30vh;

    @include breakpoint(medium) {
        height: 60vh;
    }       
}

.wave {
    position: absolute;
    bottom: 0;
    height:25%;
    left: 0;
    width: 100%;
  }

.slider2 {
    position: relative;
    height: 70vh;

    .description {
        width: 100%;
        position: absolute;
        color: aliceblue;
        top: 40%;
        // left: 10%;
        z-index: 11;

        h1 {
            font-size: 1.5rem;
        }
        
    }
    .transparent-background {
        width: 100%;
        height: 100%;
        position: absolute;
        // z-index: 10;
        top: 0;
        left: 0;
        background-image: linear-gradient(to top, rgba(255, 0, 0, 0), rgba(19, 105, 23, 0.869));
    }
}